*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color:rgb(25, 30, 36);
    color: aliceblue;
    text-align: center;
}
h1{
    font-size: 2rem;
    margin: 1rem;
}
p{
    margin-top: 20px;
}
button{
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(48, 117, 201);
    font-size: 19px;
    /* color: aliceblue; */
    border-radius: 12px;
    border: none;
    transition: all 0.3s linear;

    &:hover{
        background-color: transparent;
        color: rgb(48, 117, 201);
        border: 2px solid rgb(48, 117, 201);
    }
}
input{
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    /* width: 100%; */
    border-radius: 5px;
}